$speed: 10s;
$wordCount: 7;

.morphing {
  position: relative;
  font-size: 4.2vw;
  color: #E1CA58;
  margin-top: 5vh;
  margin-bottom: 16vh;

  @media (max-width: 450px) {
    font-size: 11vw;
    margin-top: 2.1vh;
    margin-bottom: 7vh;
  }
}

.word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: word $speed infinite ease-in-out;

  @keyframes word {
    0%, 5%, 100% { filter: blur(0px); opacity: 1; }        
    20%, 80% { filter: blur(14px); opacity: 0; }        
  }
}

.word:nth-child(1) {
  animation-delay: -10s;
}

.word:nth-child(2) {
  animation-delay: -7s;
}

.word:nth-child(3) {
  animation-delay: -3s;
}