.menu.menuOpen {
    display: none;

    @media (max-width: 450px) {
        width: 100vw;
        max-width: 100%;
        height: 36vh;
        background: rgba(0, 0, 0, 0.95);
        backdrop-filter: blur(5px);
        box-shadow: 10px 0px 69px 0px rgba(0, 0, 0, 0.59);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

.menu.menuClose {
    display: none;
    width: 0px;
}